body{
    background-image: linear-gradient(rgb(182, 233, 237), rgb(211, 207, 162));
    background-size: cover;
}

.container{
    max-width: 955px;
    border: 2px solid black;
    margin: auto;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
}

.message{
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: grey;
}

.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear: both;
}

#send-container{
    max-width: 985px;
    width: 100%;
    text-align: center;
    display: block;
    margin: auto;
}

#messageInp{
    width: 91%;
    border: 2px solid black;
    height: 34px;
}

.btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}